<!doctype html>
<html lang="{{ kirby.language.code }}" dir="{{ kirby.language.direction }}">
<head>
  <meta charset="utf-8">
  {{ snippet('ku/seo/head') }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ css('assets/style.min.css') }}
</head>
  <body>
    {{ snippet('layout/header') }}
    <main id="main-content" class="container flow" role="main">
      {% block content %}{% endblock %}
    </main>
    {{ snippet('layout/footer') }}
    {% block js %}{% endblock %}
  </body>
</html>
